body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9eded; /* Light pink background */
    line-height: 1.6;
}

.container {
    min-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999; /* Ensure it's above other content */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 30px;
    margin-left: 20px; /* Adjusted to move the logo to the left */
}

.buttons {
    margin-right: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 60px; /* Add margin top to the content to prevent overlap */
}

section.content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px; /* Adjusted to provide space for the fixed header */
    padding: 20px;
}

h2 {
    color: #ff4081;
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    color: #555;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    margin-top: 20px;
    padding: 50px 0;
    background-color: #000;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

#checklist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cover-art {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

label {
    display: block;
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

button {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d8135a;
}

button:focus {
    outline: none;
}

/* Add styling for the quiz questions section */
.api-content {
    margin-top: 20px; /* Add some margin from the content above */
    padding: 20px;
    border-radius: 10px;
}

.api-content h2 {
    color: #333; /* Darker text color */
    font-size: 2rem;
    margin-bottom: 20px; /* Increase margin bottom for better separation */
}

.question {
    background-color: #fff; /* White background for each question */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px; /* Add margin between each question */
}

.question p {
    color: #555; /* Text color for question */
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.question ul {
    list-style: none;
    padding: 0;
}

.question ul li {
    color: #666; /* Text color for answers */
    font-size: 1.1rem;
    margin-bottom: 5px;
}

/* Style for correct answer */
.question ul li:last-child {
    color: #4CAF50; /* Green color for correct answer */
    font-weight: bold;
}

/* Styling for Case Studies section */
.case-studies {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add some margin from the content above */
    padding: 20px;
}

.case-studies h2 {
    color: #ff4081; /* Pink color for heading */
    font-size: 2rem;
    margin-bottom: 20px; /* Increase margin bottom for better separation */
}

.case-study-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
}

.case-study {
    flex-basis: calc(25% - 20px); /* Adjust width for 4 items per row with margins */
    margin-bottom: 20px; /* Add margin between each case study */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.case-study img {
    width: 25%;
    max-width: 100%; /* Make image responsive */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Add margin below image */
}

.case-study h3 {
    color: #333; /* Darker text color */
    font-size: 1.5rem;
    margin-bottom: 10px; /* Adjust margin bottom */
}

.case-study p {
    color: #555; /* Text color for description */
    font-size: 1.2rem;
    margin-bottom: 10px; /* Adjust margin bottom */
}

.case-study a {
    color: #ff4081; /* Pink color for link */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.case-study a:hover {
    color: #d8135a; /* Darker pink color on hover */
}



