/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9eded; /* Light pink background */
    line-height: 1.6;
}

.container {
    max-width: 1200px; /* Increased max-width for better layout */
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #b88ba1; /* Pink */
    color: #ffffff; /* White */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

section.content {
    background-color: #ffffff; /* White */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    margin-top: 20px;
    padding: 20px;
}

h2 {
    color: #ff4081; /* Pink */
    font-size: 2rem;
    margin-bottom: 15px;
}

p {
    color: #555; /* Dark gray */
    font-size: 1.2rem;
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
    padding: 0; /* Remove default padding */
    list-style: none; /* Remove bullet points */
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    color: #555; /* Dark gray */
    font-size: 1rem;
    margin-top: 20px;
    padding: 20px 0;
}

.content {
    max-width: 1000px; /* Decreased max-width for better readability */
    margin: 0 auto;
}

#checklist {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    grid-gap: 20px; /* Adjust the gap between items */
}

.cover-art {
    width: 100%; /* Make images fill their container */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 15px; /* Slightly reduced border radius for a more subtle effect */
}

label {
    display: block;
    font-size: 1.2rem;
    color: #333; /* Dark gray */
    margin-top: 10px;
}
